/* Old Grid numbers 

$fill: 100%;
$g1: 960px;
$g2: 480px;
$g3: 320px;
$g4: 240px;
$g5: 192px;
$g6: 160px;
$g8: 120px;
$g10: 96px;
$g12: 80px;
$g15: 64px;
$g16: 60px;
$g20: 48px;
$g24: 40px;
$g30: 32px;
$g32: 30px;
$g40: 24px;
$g48: 20px;
$g60: 16px;
$g64: 15px;
$g80: 12px;
$g96: 10px;
$g120: 8px;
$g160: 6px;
$g192: 5px;
$g240: 4px;
$g320: 3px;
$g480: 2px;
$g960: 1px;

*/

$fill: 100%;
$g960: 960px;
$g480: 480px;
$g320: 320px;
$g240: 240px;
$g192: 192px;
$g160: 160px;
$g120: 120px;
$g96: 96px;
$g80: 80px;
$g64: 64px;
$g60: 60px;
$g48: 48px;
$g40: 40px;
$g32: 32px;
$g30: 30px;
$g24: 24px;
$g20: 20px;
$g16: 16px;
$g15: 15px;
$g12: 12px;
$g10: 10px;
$g8: 8px;
$g6: 6px;
$g5: 5px;
$g4: 4px;
$g3: 3px;
$g2: 2px;
$g1: 1px;

.row {

	margin-bottom: 30px;

}